
body{

}

a, tr, th, td, col{
	font-size: 16px;
	vertical-align: middle;
	
}

h2 {
	font-size: 28px;
}

ins {
	text-decoration: none;
}


.card {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.appname {
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.page-header {
	margin-top: 1rem;
}

.col-sm {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.description {
	font-size: 18px;
}

.table-person-id {
	font-weight: bold;
}

.card-link {
	margin-top: 0.5rem;
	padding-top: 0rem;
	margin-bottom: 0rem;
}

.link-top {
	font-size: 1.5rem;
}

.card-btn-submit {
	float: right;
	text-align: right;
}

.foot-btns {
	padding-bottom: 1.5rem;
	text-align: center;
}

.btn-footer {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.table-scrollable {
  overflow: scroll;
  overflow-x: auto;
  overflow-y:hidden;
}

.btn-success {
	margin-bottom: 1rem;
}

.article-title {
	text-decoration: none;
	color: black;
	font-size: 2rem;
}