body {
  background-color: #fff;
  color: #333;
  
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}

pre {
  background-color: #eee;
  
  font-size: 12px;
}
div {
  &.field, &.actions {
    margin-bottom: 0px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  
  margin-bottom: 20px;

  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
  }

}

label {
  display: block;
}
